<% include partials/header %>


<div class="container">
    
        <div class="jumbotron main">
<h1 class="page-header text-center text-uppercase"><span class="label label-success">Grizli Camp</h1>

<p class="text-center text-uppercase"><b>Just try it!</b</p>

<a class="btn btn-danger btn-block" href="/campgrounds">Take It</a>

      </div>
</div>
<% include partials/footer %>
