<% include partials/header %>

<div class="container">
    
        <div class="jumbotron">
<h2 class="text-center "><b>Grizli Camp</b></h2>
<p class="thumbnail"> <img src="../img/teddy.jpg"></img>  </p>

<a class="btn btn-danger btn-block btn-l" href="/campgrounds">Just Do It</a>

      </div>
</div>
<% include partials/footer %>
